@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">Hello</h1>
            <p>Enjoy your stay :)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" 
             style="border:dotted 3px;
                    margin:5px;
                    border-radius:5px">
            <h1 class="display-4"
                style="font-size:30px;text-align:center">Don't have an account?</h1>
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register" style="text-align:center">Register</a>
        </div>
        <div class="col-md-5"
             style="
                    border:dotted 3px;
                    border-color:mediumpurple;
                    border-radius:5px;
                    margin:5px">
            <h1 class="display-4"
                style="font-size:30px;text-align:center">Have a look</h1>
            <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index" style="text-align:center">Products</a>
        </div>
    </div>
</div>
