@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <h3>Enjoy your stay :)</h3>
    
</div>
<div>
    <p>Don't have an account?</p>
</div>
<div>
    <p></p>
</div>
