@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>s
    <h3>Enjoy your stay :)</h3>
    <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index">Products</a>
</div>
